.main{
    /* background-color: rgb(234, 244, 255); */
    /* background-color: #f3f8ff; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.reg_cont{
    background-color: #ffffffd3;
    /* background-color: rgba(10, 40, 115, 0.251); */
    /* background-image:linear-gradient(to bottom, #ccd1d1, #85929e) ; */
    width: 450px;
    padding-inline: 2rem;
    overflow: hidden;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

.reg_heading{
    font-weight:bolder;
    font-size:x-large;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}